 .box-item {
     
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .box-item:hover {
     
     border-radius: 10px;
     transition: .5s ease-in-out !important;
    transition-delay: .1s;
 }

 .single-project{
    display: none;
    
}

 .single-project .project-btn {
     display: none;
     
 }

.all-project:hover .single-project{
    background-color: #72b626;
    transition: .5s ease-in-out !important;
    transition-delay: .1s;
    border-radius: 10px;
    
}
.all-project:hover a {
    color: white;
}

.all-project:hover .single-project .project-btn {
    display: block;
    /* border: white; */
    width: 25px;
    
}